@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../Source/bgLogin.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 9px;

    box-shadow: 0px 0px 16px 4px #458896;
    background-color: #44676E;

    width: 330px;
    height: 400px;
}

.inputBox{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.inputs{
    border: none;
    width: 200px;
    height: 24px;
    padding: 3px;
    border-radius: 7px;
}

.fundoBotao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botao:hover{
    cursor: pointer;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius:10px;
    border: none; 
}