*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 1400px;
    height: 780px;
    margin: auto;
    background-color: #8CAEEE;
}
.cabecalho{
    display: inline-block;
    width: 1400px;
    background-color: #003366;
}
.menuLateral{
    display: inline-block;
    background-color: #003366;
    height: 652px;
    width: 185px;
}
.Logo{
    position: relative;
    left: 30px;
    top: 5px;
    width: 130px;
    height: 130px;
}
.home{
    font-size: 20px;
    position: relative;
    border: groove, 2px, #0882FC;
    top: -34px;
    left: 90px;
    border-radius: 100px;
    width: 39px;
    height: 33px;
    display: inline-block;
}
.busca{
    font-size: 15px;
    position: relative;
    border: groove, 2px, #0882FC;
    top: -40px;
    left: 310px;
    border-radius: 100px;
    width: 39px;
    height: 33px;
    display: inline-block;
}
.Barra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    border: groove, 2px, #0882FC;
    position: relative;
    top: -40px;
    left: 300px;
    border-radius: 50px;
    width: 400px;
    height: 23px;
    display: inline-block;
}
