/* CSS GERAL */
*{
    padding: 0px;
    margin: 0px;
}
.main{
    width: 1400px;
    height: 755px;
    margin: auto;
    background-color: #8CAEEE;
}
/* Parte de Cima */
.cabecalho{
    display: inline-block;
    width: 1400px;
    background-color: #003366;
}
/* Lado Esquerdo */
.Lateral{
    display: inline-block;
    background-color: #003366;
    height: 582px;
    width: 185px;
}
/* Caixas dentro do menu lateral */
.menuLateral{
    display: block;
    background-color: #8CAEEE;
    position: relative;
    top: 50px;
    width: 140px;
    height: 165px;
    margin: auto;
}
.menuLateral2{
    display: block;
    background-color: #8CAEEE;
    position: relative;
    top: 150px;
    width: 140px;
    height: 165px;
    margin: auto;
}
/* Parte de baixo */
.rodape{
    display: inline-block;
    position: relative;
    top: -4px;
    width: 1400px;
    height: 20px;
    background-color: #003366;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Logo do site */
.Logo{
    position: relative;
    left: 30px;
    top: 5px;
    width: 130px;
    height: 130px;
}
/* Botões do '.cabecalho' */
.home{
    font-size: 15px;
    position: relative;
    border: groove, 2px, #0882FC;
    top: -34px;
    left: 90px;
    border-radius: 100px;
    width: 85px;
    height: 33px;
    display: inline-block;
    cursor: pointer;
    
}
.busca{
    font-size: 15px;
    position: relative;
    border: groove, 2px, #0882FC;
    top: -40px;
    left: 310px;
    border-radius: 100px;
    width: 59px;
    height: 33px;
    display: inline-block;
}
/* Barra de pesquisa */
.Barra{
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border: groove, 2px, #0882FC;
    position: relative;
    top: -40px;
    left: 300px;
    border-radius: 50px;
    width: 400px;
    height: 23px;
    display: inline-block;
}
.Perfil{
    font-size: 15px;
    position: relative;
    border: groove, 2px, #0882FC;
    top: -50px;
    left: 610px;
    border-radius: 100px;
    width: 59px;
    height: 53px;
    display: inline-block;
}