@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../Source/BgCinza.jpg);
    /*background-color: gray;*/
}

@media screen and (min-width:992px) and (max-width:1200px){ /*DESKTOP*/
    body{
        background-color: black
    };
    #FundoCard{
        display: flex;
        flex-wrap: wrap;
        flex-flow: row
    };
}

@media screen and (min-width:768px) and (max-width:992px){ /*TABLET*/
    body{
        background-color: red;
    }
    .Cards{
        background-color: purple;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }
}

header{
    background-color: #0d7094;
    display: flex;
    width: 100vw;
    height: 11vh;
    justify-content: center;
    align-items: center;
    font-family: "Bungee", serif;
    font-size: 30px;
}

#logo{
    width: 102px;
    height: 102px;
}

nav{
    display: flex;
    width: 10vw;
    height: 89vh;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: #0d7094;
    position: fixed;
    left: -9vw;
    transition: transform 0.9s ease-in-out;
}

nav:hover {
    background-color: #0d7094;
    box-shadow: 5px 3px 7px powderblue;
    transform: translate(9vw, 0vh);
}

#logoPS{
    margin-top: 110px;
    width: 189px;
    height: 200px;
}

#Console{
    margin-top: 55px;
    display: block;
}

#TextoConsole{
    color: white;
    text-shadow: 2px 4px 5px black;
    text-decoration: none;
    font-family: "Bungee", serif;
    font-size: 20px;
}

#Controle{
    display: block;
}

#TextoControle{
    color: white;
    text-shadow: 3px 4px 5px black;
    text-decoration: none;
    font-family: "Bungee", serif;
    font-size: 20px;
}

section{
    background-color: #0d7094;
    margin: auto;
    margin-top: 20px;
    padding: 17px;
    border-radius: 4px;
    width: 70vw;
    justify-items: center;
}

#Banner{
    background-image: url(../Source/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 6px #8adffd;
    border: solid;
    display: block;
    justify-content: center;
    width: 100%;
    height: 300px;
}

#FundoCard{
    margin-top: 30px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.Cards{
    background-color: #075774;
    box-shadow: 0px 0px 10px #030303;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    transition: 0.5s;
}

.Cards:hover{
    transform: translate( 0px, -13px);
}

.FotoCards{
    width: 240px;
    height: 170px;
}

.TextoCards{
    font-size: 16px;
    font-family: "Bungee", serif;
}

#BotãoComprar{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: solid;
    margin-top: 20px;
    transition: 1s;
    font-size: 13px;
    font-family: "Bungee", serif;
}

#BotãoComprar:hover{
    background-color: #c0fcc3;
    border-color: #508853;
    transform: translate( 0px, -1px);
}